body {
    max-width: 960px;
    background-color: white;

}

#header {
    background-color: magenta;
    width: 940px;
    height: 75px;
    text-align: center;
    margin: 5px 10px 5px 10px
}

.main {
    background-color: magenta;
    width: 460px;
    height: 75px;
    float: left;
    margin: 5px 10px 5px 10px;
    text-align: center;
    
}


.small {
    background-color: magenta;
    width: 300px;
    height: 75px;
    float: left;
    margin: 5px 10px 5px 10px;
    text-align: center;
   
}



#tinyleft1 {
    background-color: magenta;
    width: 220px;
    height: 75px;
    float: left;
    margin: 5px 10px 5px 10px;
    text-align: center;
}

#tinyleft2 {
    background-color: magenta;
    width: 220px;
    height: 75px;
    float: left;
    margin: 5px 10px 5px 10px;
    text-align: center;
}

#tinyright1 {
    background-color: magenta;
    width: 220px;
    height: 75px;
    float: left;
    margin: 5px 10px 5px 10px;
    text-align: center;
}

#tinyright2 {
    background-color: magenta;
    width: 220px;
    height: 75px;
    float: left;
    margin: 5px 10px 5px 10px;
    text-align: center;
}